//mixins et variables

@mixin dimensions-menus {
    width: 300px;
    height: 470px;
    border: 1px solid transparent;
    border-radius: 5px;
    box-shadow: 0px 0px 8px 1px grey;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    text-align: center;
    font-size: 1.8rem;
}

@mixin menus-responsive {
    width: 300px;
    height: 300px;
    border: 1px solid transparent;
    border-radius: 5px;
    box-shadow: 0px 0px 8px 1px grey;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 1.8rem;
    align-items: center;
}

@mixin degrades {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin zoom {
    transition: transform 300ms ease-in-out;
    &:hover {
        transform: scale(1.10);
    }
}

@mixin categorie_menu {
    font-family: Tillana;
    font-size: 2rem;
    color: #3D1319;
}

@mixin dispo_titres {
    display: flex;
    justify-content: space-between;
}

@mixin details {
    font-family: Tillana;
    font-size: 25px;
    color: #3D1319;
}

@mixin container_pages {
    width: 1000px;
    height: auto;
    border: 1px solid transparent;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    border-radius: 5px;
    box-shadow: 0px 0px 8px 1px grey;
    padding-top: 20px;
}

$marge_haut_titre: 100px;




.container_menus {
    display: flex;
    width: auto;
}

        //style des menus

a {
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
}

.menu1 {
    @include dimensions-menus;
    background: #FFE3E3;
}

.note {
    font-family: Devonshire;
    margin-top:  100px;
    color: #3D1319;
    @include zoom;
    h2 {
        margin-top: -15px;
    }
    h3 {
        font-family: Tillana;
        text-transform: uppercase;
        margin-top: -15px;
        font-size: 2.8rem;
    }
}

.menu2 {
    @include dimensions-menus;
    background: #FFF5FE;
}

.chic {
    font-family: 'Croissant One';
    margin-top: $marge_haut_titre;
    @include zoom;
    h2 {
    background: linear-gradient(to right, #C77529 0%, #6E4CCC 100%);    
    @include degrades;
    }
    h3 {
        font-family: 'Source Serif Pro';
        color: #C77529;
        font-size: 3.8rem;
    }
}

.menu3 {
    @include dimensions-menus;
    background: #EFEFF5;
}

.delice {
    font-family: 'Dancing Script';
    margin-top: $marge_haut_titre;
    background: linear-gradient(to right, #3A4FA2 0%, #4E96D1 100%);
    @include degrades;
    @include zoom;
    h3 {
        font-family: Caveat;
        font-size: 3.8rem;
    }
}

.menu4 {
    @include dimensions-menus;
}

.palette {
    font-family: 'Kaushan Script';
    margin-top: $marge_haut_titre;
    background: linear-gradient(to right, #57A746 0%, #C2DB76 100%);
    @include degrades;
    @include zoom;
    h3 {
        font-family: Caveat;
        font-size: 3.8rem;
    }
}

        //header, valable pour chaque menu

header {
    width: auto;
    height: 110px;
    background-color: #579C87;    
    margin-bottom: 30px;
    margin-top: -48px;
    h1 {
        color: #FDCB46;
        font-family: Roboto;
        font-size: 70px;
        text-align: center;
        font-weight: bold;
        position: relative;
        top: 10px;
    }
}

        //prochainement

.prochainement {
    width: 25%;
    height: 60px;
    background-color: #579C87;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 70px;
    padding-top: 20px;
    text-align: center;
    border-radius: 10px;
    span {
        font-family: Roboto;
        font-size: 35px;
        margin-left: 10px;
        color: #FDCB46;
    }
}

.fas {
    color: #FDCB46;
    margin-left: 15px;
}

#point1 {
    opacity: 0;
    animation: point 1.3s infinite;
    animation-delay: 0.0s;
    }
#point2 {
    opacity: 0;
    animation: point 1.3s infinite;
    animation-delay: 0.2s;
    }
#point3 {
    opacity: 0;
    animation: point 1.3s infinite;
    animation-delay: 0.3s;
    }
    
    @keyframes point {
        0% {
        opacity: 0;
        }
        50% {
        opacity: 0;
        }
        100% {
        opacity: 1;
        }
        }
   
        //footer, valable pour chaque menu

footer {
    display: flex;
    width: 100%;
    height: 50px;
    background-color: #579C87;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    .footer {
        color: #FDCB46;
        font-family: Roboto;
        font-size: 30px;
        &__mentions {
            margin-left: 15px;
        }
        &__contact{
            margin-right: 20px;
        }
        &:hover {
            animation: wiggle 300ms infinite;
        }
    } 
}

@keyframes wiggle {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}



//la note enchantée
.container_note {
    @include container_pages;
    background-color: #FFE3E3;
}

.titre {
    text-align: center;   
    h2 {
        margin-top: -15px;
        font-family: Devonshire;
        font-size: 3rem;
        color: #3D1319;
    }
}

.prelude {
    @include dispo_titres;
    h3 {
      @include categorie_menu;
      margin-top: 5px; 
      background: linear-gradient(to top, #3D1319 0%, #3D1319 10%, transparent 10.01%) no-repeat;
      background-size: 0 100%;
      transition: background-size 300ms;
      &:hover {
          background-size: 100% 100%;
      }
    }
    span {
        margin-left: auto;
        margin-right: auto;
        margin-top: 25px;
    }
}

.details_note {
    @include details;
    .plat {
        text-align: left;
        clear: both;
        margin-left: 55px;
        span {
            float: right;
            margin-right: 55px;
            font-weight: bold;
        }
    }
}

.point_dorgue {
    @include dispo_titres;
    h3 {
        @include categorie_menu;
        background: linear-gradient(to top, #3D1319 0%, #3D1319 10%, transparent 10.01%) no-repeat;
        background-size: 0 100%;
        transition: background-size 300ms;
        &:hover {
            background-size: 100% 100%;
        }
    }
    span {
        margin-left: 55px;
        margin-right: auto;
        margin-top: 55px;
    }
}

.final {
    @include dispo_titres;
    h3 {
        @include categorie_menu;
        background: linear-gradient(to top, #3D1319 0%, #3D1319 10%, transparent 10.01%) no-repeat;
        background-size: 0 100%;
        transition: background-size 300ms;
        &:hover {
            background-size: 100% 100%;
        }
    }
    span {
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
    }
}

.reservations {
    text-align: center;
    img {
        margin-top: 30px;
    }
    h3 {
        font-family: Devonshire;
        color: #3D1319;
        font-size: 1.8rem;
        margin-top: 0px;
        margin-bottom: 50px;
    }
}

//Le chic à la française

.container_chic {
    @include container_pages;
    background-color: #FFF5FE;
}

.reservations_chic {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    h2 {
        font-family: 'Croissant One';
        font-size: 3rem;
        background: linear-gradient(to right, #C77529 0%, #6E4CCC 100%);
        @include degrades;
    }
}

.appetit {
    @include dispo_titres;
    h3 {
        margin-top: -7px;
        font-family: 'Source Serif Pro';
        font-size: 28px;
        color: #C77529;
        background: linear-gradient(to top, #C77529 0%, #C77529 10%, transparent 10.01%) no-repeat;
        background-size: 0 100%;
        transition: background-size 300ms;
        &:hover {
            background-size: 100% 100%;
        }
    }
}

.details_entrees_chic {
    font-family: 'Source Serif Pro';
    font-size: 25px;
    color: #C77529;
    .plat {
        text-align: left;
        clear: both;
        margin-left: 100px;
        span {
            float: right;
            margin-right: 100px;
            font-weight: bold;
        }
    }
}

.plaisir {
    @include dispo_titres;
    h3 {
        font-family: 'Source Serif Pro';
        font-size: 28px;
        color: #A56799;
        background: linear-gradient(to top, #A56799 0%, #A56799 10%, transparent 10.01%) no-repeat;
        background-size: 0 100%;
        transition: background-size 300ms;
        &:hover {
            background-size: 100% 100%;
        }
    }
    span {
        margin-top: 35px;
    }
}

.details_plats_chic {
    font-family: 'Source Serif Pro';
    font-size: 25px;
    color: #A56799;
    .plat {
        text-align: left;
        clear: both;
        margin-left: 100px;
        span {
            float: right;
            margin-right: 100px;
            font-weight: bold;
        }
    }
}

.gourmandises {
    @include dispo_titres;
    h3 {
        font-family: 'Source Serif Pro';
        font-size: 28px;
        color: #6E4CCC;
        background: linear-gradient(to top, #6E4CCC 0%, #6E4CCC 10%, transparent 10.01%) no-repeat;
        background-size: 0 100%;
        transition: background-size 300ms;
        &:hover {
            background-size: 100% 100%;
        }
    }
    span {
        margin-top: 35px;
    }
}

.details_desserts_chic {
    font-family: 'Source Serif Pro';
    font-size: 25px;
    color: #6E4CCC;
    margin-bottom: 100px;
    .plat {
        text-align: left;
        margin-left: 100px;
    }    
}

//Le délice des papilles

.container_delices {
    @include container_pages;
    background-color: #EFEFF5;
}

.reservations_delices {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    h2 {
        font-family: 'Dancing script';
        font-size: 4rem;
        background: linear-gradient(to right, #3A4FA2 0%, #4E96D1 100%);
        @include degrades;
    }
}

.commencer {
    @include dispo_titres;
    h3 {
        font-family: Caveat;
        font-size: 32px;
        margin-top: -10px;
        background: linear-gradient(to top, #000000 0%, #000000 10%, transparent 10.01%) no-repeat;
        background-size: 0 100%;
        transition: background-size 300ms;
        &:hover {
            background-size: 100% 100%;
        }
    }
}

.continuer {
    @include dispo_titres;
    h3 {
        font-family: Caveat;
        font-size: 32px;
        margin-top: -10px;
        background: linear-gradient(to top, #000000 0%, #000000 10%, transparent 10.01%) no-repeat;
        background-size: 0 100%;
        transition: background-size 300ms;
        &:hover {
            background-size: 100% 100%;
        }
    }
}

.terminer {
    @include dispo_titres;
    h3 {
        font-family: Caveat;
        font-size: 32px;
        margin-top: -10px;
        background: linear-gradient(to top, #000000 0%, #000000 10%, transparent 10.01%) no-repeat;
        background-size: 0 100%;
        transition: background-size 300ms;
        &:hover {
            background-size: 100% 100%;
        }
    }
}

.details_delices {
    font-family: Caveat;
    font-size: 28px;
    margin-bottom: 100px;
    .plat {
        text-align: left;
        clear: both;
        margin-left: 100px;
        span {
            float: right;
            margin-right: 100px;
            font-weight: bold;
        }
    }
}

//La palette du goût

.container_palette {
    @include container_pages;
}

.reservations_palette {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    h2 {
        font-family: 'Kaushan script';
        font-size: 4rem;
        background: linear-gradient(to right, #57A746 0%, #C2DB76 100%);
        @include degrades;
    }
}

.esquisse {
    @include dispo_titres;
    h3 {
        font-family: Caveat;
        font-size: 32px;
        margin-top: -10px;
        background: linear-gradient(to top, #000000 0%, #000000 10%, transparent 10.01%) no-repeat;
        background-size: 0 100%;
        transition: background-size 300ms;
        &:hover {
            background-size: 100% 100%;
        }
    }
}

.oeuvre {
    @include dispo_titres;
    h3 {
        font-family: Caveat;
        font-size: 32px;
        margin-top: -10px;
        background: linear-gradient(to top, #000000 0%, #000000 10%, transparent 10.01%) no-repeat;
        background-size: 0 100%;
        transition: background-size 300ms;
        &:hover {
            background-size: 100% 100%;
        }
    }
}

.sommet {
    @include dispo_titres;
    h3 {
        font-family: Caveat;
        font-size: 32px;
        margin-top: -10px;
        background: linear-gradient(to top, #000000 0%, #000000 10%, transparent 10.01%) no-repeat;
        background-size: 0 100%;
        transition: background-size 300ms;
        &:hover {
            background-size: 100% 100%;
        }
    }
}

.details_palette {
    font-family: Caveat;
    font-size: 28px;
    margin-bottom: 100px;
    .plat {
        text-align: left;
        clear: both;
        margin-left: 100px;
        span {
            float: right;
            margin-right: 100px;
            font-weight: bold;
        }
    }
}

//mentions légales

.mentions_legales {
    @include container_pages;
    h2 {
        text-align: center;
    }
}

.mentions {
    h3 {
        text-align: center;
    }
    p {
        text-align: justify;
    }
}


//page réservations

.bientot {
    h1 {
    font-family: Roboto;
    color: #FDCB46;
    }
}

//responsive

@media all and (min-width: 768px) and (max-width: 1024px) {
    body {
        width: 100%;
    }

    main {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
    }
    .container_menus {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
    }

    .menu3 {
        margin-top: 30px;
    }

    .menu4 {
        margin-top: 30px;
    }

    header {
        width: auto;
        margin-bottom: 50px;
    }

    .prochainement {
        width: 50%;
        margin-top: 50px;
    }

    .mentions_legales {
        width: 100%;
    }

}

@media all and (max-width: 768px) {
    body {
        width: 100%;
    }

    main {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
    }
    .container_menus {
        display: flex;
        flex-direction: column;
    }

    .menu2 {
        margin-top: 30px;
    }

    .menu3 {
        margin-top: 30px;
    }

    .menu4 {
        margin-top: 30px;
    }

    header {
        margin-bottom: 50px;
        width: auto;
    }

    .prochainement {
        width: 75%;
        margin-top: 50px;
        padding-top: 30px;
        span {
            font-size: 20px;
        }
    }

    footer {
        height: 40px;
        .footer {
            font-size: 20px;
        }
    }

    .container_note {
        width: 100%;
    }

    .prelude {
        img {
            display: none;
        }
        h3 {
            margin-left: auto;
            margin-right: auto;
        }
    }

    .point_dorgue {
        margin-top: 50px;
        img {
            display: none;
        }
        h3 {
            margin-left: auto;
            margin-right: auto;
        }
    }

    .final {
        margin-top: 50px;
        img {
            display: none;
        }
        h3 {
            margin-left: auto;
            margin-right: auto;
        }
    }

    .details_note {
        display: flex;
        flex-direction: column;
        .plat {
            margin-left: 0;
            text-align: center;
            span {
                float: none;
                margin-right: 0;
                display: flex;
                justify-content: center;
            }
        }           
    }

    .container_chic {
        width: 100%;
    }

    .appetit {
        img {
            display: none;
        }
        h3 {
            margin-left: auto;
            margin-right: auto;
        }
    }

    .plaisir {
        margin-top: 50px;
        img {
            display: none;
        }
        h3 {
            margin-left: auto;
            margin-right: auto;
        }
    }

    .gourmandises {
        margin-top: 50px;
        img {
            display: none;
        }
        h3 {
            margin-left: auto;
            margin-right: auto;
        }
    }

    .details_entrees_chic {
        display: flex;
        flex-direction: column;
        .plat {
            margin-left: 0;
            text-align: center;
            span {
                float: none;
                margin-right: 0;
                display: flex;
                justify-content: center;
            }
        }           
    }

    .details_plats_chic {
        display: flex;
        flex-direction: column;
        .plat {
            margin-left: 0;
            text-align: center;
            span {
                float: none;
                margin-right: 0;
                display: flex;
                justify-content: center;
            }
        }           
    }

    .details_desserts_chic {
        display: flex;
        flex-direction: column;
        .plat {
            margin-left: 0;
            text-align: center;
            span {
                float: none;
                margin-right: 0;
                display: flex;
                justify-content: center;
            }
        }           
    }

    .container_delices {
        width: 100%;
    }

    .commencer {
        img {
            display: none;
        }
        h3 {
            margin-left: auto;
            margin-right: auto;
        }
    }

    .continuer {
        margin-top: 50px;
        img {
            display: none;
        }
        h3 {
            margin-left: auto;
            margin-right: auto;
        }
    }

    .terminer {
        margin-top: 50px;
        img {
            display: none;
        }
        h3 {
            margin-left: auto;
            margin-right: auto;
        }
    }

    .details_delices {
        display: flex;
        flex-direction: column;
        .plat {
            margin-left: 0;
            text-align: center;
            span {
                float: none;
                margin-right: 0;
                display: flex;
                justify-content: center;
            }
        }           
    }

    .esquisse {
        img {
            display: none;
        }
        h3 {
            margin-left: auto;
            margin-right: auto;
        } 
    }

    .oeuvre {
        margin-top: 50px;
        img {
            display: none;
        }
        h3 {
            margin-left: auto;
            margin-right: auto;
        }
    }

    .sommet {
        margin-top: 50px;
        img {
            display: none;
        }
        h3 {
            margin-left: auto;
            margin-right: auto;
        }
    }

    .details_palette {
        display: flex;
        flex-direction: column;
        .plat {
            margin-left: 0;
            text-align: center;
            span {
                float: none;
                margin-right: 0;
                display: flex;
                justify-content: center;
            }
        }           
    }

    .mentions_legales {
        width: 100%;
    }
}

