//header, valable pour chaque menu

header {
    width: auto;
    height: 110px;
    background-color: #579C87;    
    margin-bottom: 30px;
    margin-top: -48px;
    h1 {
            color: #FDCB46;
            font-family: Roboto;
            font-size: 70px;
            text-align: center;
            font-weight: bold;
            position: relative;
            top: 10px;
    }
}