//style des menus
.container_menus {
    display: flex;
    width: auto;
}

a {
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
}

.menu1 {
    @include dimensions-menus;
    background: #FFE3E3;
}

.note {
    font-family: Devonshire;
    margin-top:  100px;
    color: #3D1319;
    @include zoom;
    h2 {
        margin-top: -15px;
    }
    h3 {
        font-family: Tillana;
        text-transform: uppercase;
        margin-top: -15px;
        font-size: 2.8rem;
    }
}

.menu2 {
    @include dimensions-menus;
    background: #FFF5FE;
}

.chic {
    font-family: 'Croissant One';
    margin-top: $marge_haut_titre;
    @include zoom;
    h2 {
    background: linear-gradient(to right, #C77529 0%, #6E4CCC 100%);    
    @include degrades;
    }
    h3 {
        font-family: 'Source Serif Pro';
        color: #C77529;
        font-size: 3.8rem;
    }
}

.menu3 {
    @include dimensions-menus;
    background: #EFEFF5;
}

.delice {
    font-family: 'Dancing Script';
    margin-top: $marge_haut_titre;
    background: linear-gradient(to right, #3A4FA2 0%, #4E96D1 100%);
    @include degrades;
    @include zoom;
    h3 {
        font-family: Caveat;
        font-size: 3.8rem;
    }
}

.menu4 {
    @include dimensions-menus;
}

.palette {
    font-family: 'Kaushan Script';
    margin-top: $marge_haut_titre;
    background: linear-gradient(to right, #57A746 0%, #C2DB76 100%);
    @include degrades;
    @include zoom;
    h3 {
        font-family: Caveat;
        font-size: 3.8rem;
    }
}



        //prochainement

.prochainement {
    width: 25%;
    height: 60px;
    background-color: #579C87;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 70px;
    padding-top: 20px;
    text-align: center;
    border-radius: 10px;
    span {
        font-family: Roboto;
        font-size: 35px;
        margin-left: 10px;
        color: #FDCB46;
    }
}

.fas {
    color: #FDCB46;
    margin-left: 15px;
}

#point1 {
    opacity: 0;
    animation: point 1.3s infinite;
    animation-delay: 0.0s;
}
#point2 {
    opacity: 0;
    animation: point 1.3s infinite;
    animation-delay: 0.2s;
}
#point3 {
    opacity: 0;
    animation: point 1.3s infinite;
    animation-delay: 0.3s;
}
    
@keyframes point {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
